@charset "UTF-8";
html {
	position: relative;
	min-height: 100%;
}

body {
	height: 100%;
	padding: 0;
	font-family: inherit;
}

.navbar-header form {
	position: absolute;
	right: 20px;
	max-width: 300px;
}

@media only screen and (max-width:768px) {
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
		border-color: rgba(0, 0, 0, 0);
		margin-top: 0;
		padding-top: 8px;
	}
	.navbar-form {
		padding: 10px 15px;
		margin-top: 8px;
		margin-right: -15px;
		margin-bottom: 8px;
		margin-left: -15px;
		border-top: 0px solid transparent;
		border-bottom: 0px solid transparent;
		-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 0px 0 rgba(255, 255, 255, .1);
	}
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 100px;
	background-color: #1b1b1b;
	padding: 20px;
}

div#content {
	width: 100%;
	height: 100%;
}

#googleMapBox {
	height: calc(100vh - 100px);
	width: 100%;
}

#infowindow-content .title {
	font-weight: bold;
}

#infowindow-content {
	display: none;
}

#map #infowindow-content {
	display: inline;
}

/* The Overlay (background) */

.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	background-color: rgba(255, 255, 255, 1);
	overflow-x: hidden;
	/* transition: 1.0s; */
}

/* Position the content inside the overlay */
.overlay-content {
	position: relative;
	width: 100%;
}

.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 20px;
	display: block;
}

/* When you mouse over the navigation links, change their color */

.overlay a:hover, .overlay a:focus {
	color: #f1f1f1;
}

/* Position the close button (top right corner) */

.overlay .closebtn {
	right: 45px;
	font-size: 30px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */

@media screen and (max-height: 450px) {
	.overlay a {
		font-size: 20px
	}
	.overlay .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}

#infoWindowText {
	background-color: #fff;
	border: 2px solid #fff;
	border-radius: 3px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
	width: 100%;
	cursor: pointer;
	float: left;
	text-align: center;
	color: rgb(25, 25, 25);
	font-size: 15px;
	line-height: 25px;
	padding-left: 5px;
	padding-right: 5px;
}
